---
interface Props {
  path: string;
}

const { path } = Astro.props;
---

<span class="view-count" data-goatcounter-visits={path}>
</span>

<style>
  .view-count:empty {
    display: none;
  }
</style>
